/* @import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway'); */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900|Raleway:400,900i');
body {
    margin: 0;
    padding: 0;
}

#box1 {
    height: 100vh;
    width: 100%;
    background-image: url('../images/Landing page.png');
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

/* #box2 p {
    height:100vh;
    text-align: center;
    color: white;
    display: table-cell;
    background-attachment: fixed;
  } */

#box2 {
    height: 100vh;
    width: 100%;
    background-image: url('../images/mission statement.png');
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

#box3 {
    height: 100vh;
    width: 100%;
    background-image: url('../images/Contact.png');
    background-size: cover;
    /* display: table; */
    background-attachment: fixed;
    text-align: center;
}

#box4 {
    height: 100vh;
    width: 100%;
    background-image: url('../images/Postman-slide.png');
    background-size: cover;
    /* display: table-cell; */
    background-attachment: fixed;
    text-align: left;
    /* padding-top: 50%; */
}

#box5 {
    height: 100vh;
    width: 100%;
    background-image: url('../images/Routes.png');
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

a {
    color: inherit;
}

#disclaimer {
    float: right;
    margin-right: 20px;
    margin-top: 50px;
}

#route {
    padding-top: 60%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: white;
    opacity: 0.75;
    margin: 0px;
    padding: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    padding: 0 1em;
    letter-spacing: 1px;
    line-height: 1.75;
    color: black;
    font-style: unset;
    vertical-align: middle;
    margin: 50px;
    padding-top: 20%;
}
#add {
    padding-top: 50%;
}

#part1 {
    /* margin-left: 500px; */
    list-style: none;
    position: absolute;
    left: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 2;
}

#part2 {
    list-style: none;
    text-align: center;
    margin-left: 500px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 2;
}

aside {
    float: right;
    margin: 0 1%;
    width: 40%;
}

aside {
    float: right;
    margin: 0 1%;
    width: 40%;
}

/* 
#part2 li:hover {
    opacity: 0.7;
    color: #d41f1f;
    transform: inherit;
    transition: inherit;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.05) slow;
    -o-transform: scale(1.05) slow;
    -ms-transform: scale(1.05) slow;
    -webkit-transform: scale(1.1);
    -webkit-transition: transform 0.25s ease-in-out;
} */

li:hover {
    opacity: 0.7;
    color: #d41f1f;
    transform: inherit;
    transition-delay: 1s;
    transition: inherit;
    -moz-transform: scale(1.05) slow;
    -o-transform: scale(1.05) slow;
    -ms-transform: scale(1.05) slow;
    -webkit-transform: scale(1.1);
    -webkit-transition: transform 0.25s ease-in-out;
}

section h3:hover {
    opacity: 0.7;
    color: #d41f1f;
    transform: inherit;
    transition: inherit;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.05) slow;
    -o-transform: scale(1.05) slow;
    -ms-transform: scale(1.05) slow;
    -webkit-transform: scale(1.1);
    -webkit-transition: transform 0.25s ease-in-out;
}

section li:hover {
    opacity: 0.7;
    color: #d41f1f;
    transform: inherit;
    transition: inherit;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.05) slow;
    -o-transform: scale(1.05) slow;
    -ms-transform: scale(1.05) slow;
    -webkit-transform: scale(1.1);
    -webkit-transition: transform 0.25s ease-in-out;
}